<h1>Edit phone</h1>

<%= render('layouts/errors', :object => @phone) %>

<form action="/contacts/:contact_id/phones/<%= @phone.id %>" method="post">
  <input name="_method" type="hidden" value="patch">
  <%= render('form') %>
  <button>Update contact</button>

</form>


<!--contacts/:contact_id/phones/:id/edit-->

