<h1>Phone number saved!</h1>
<p>Your phone number was successfully saved.</p>
<p><a href="/contacts/<%= @phone.contact_id %>">View <%= @phone.number %></a></p>
<p><a href="/contacts">Return to contact listing</a></p>


