<h1>Contact deleted</h1>
<!--<p>Would you like to <a href="/contacts">see all the contacts</a>, or <a href="/contacts/new">create a new one</a>?</p>-->

<p>Would you like to <%= link_to "see all the contacts", contacts_path %>, or <%= link_to "create a new one", new_contact_path %></p>